.button {
  padding: 17px 41px;
  font-size: 16px;
  font-weight: 700;
  background-color: $red;
  color: $textcolor-light;
  text-transform: uppercase;
  border-radius: 100px;
  transition: background-color .2s;

  &:hover {
    background-color: $dark-red;
  }
}