.controls {
  display: flex;
  align-items: center;
  column-gap: 24px;
  flex-wrap: wrap;

  &__visible-elem {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  &__title {
    color: $white;
    font-size: 16px;
  }

  &__button {
    position: relative;
    width: 24px;
    height: 24px;
    background: $white;
    margin-right: 10px;
    background: $white;
  }

  &__input {
    display: none;
  }

  &__input:checked + &__visible-elem {
    .radio-button {
      &:after {
        opacity: 1;
      }
    }

    .checkbox {
      &:after {
        opacity: 1;
      }
    }
  }
}