.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 88px;
  background: url(images/bg-dark.png) bottom center no-repeat;
  background-size: contain;
  background-color: $bg-black;

  &__headline {
    margin-bottom: 56px;
  }
}