.form {
display: flex;
column-gap: 26px;

  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
  }

  &__row {
    display: flex;
    align-items: center;
    column-gap: 13px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    flex: 1;
    user-select: none;
  }

  &__title {
    color: $white;
    font-size: 16px;
  }

  &__input {
    background: $white;
    border: 3px solid transparent;
    border-radius: 6px;
    padding: 16px 12px;
    font-family: 'open sans', helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 100%;

    &:focus {
      border-color: $red;
      outline: none;
    }

    &--comment {
      min-height: 154px;
      margin-bottom: 27px;
    }
  }

  &__call-back {
    margin-bottom: 45px;
  }

  &__controls {
    width: 100%;
  }
}