.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align-right {
  justify-content: flex-end;
  margin-right: 25px;
}

.header__logo {
  width: 40px;
  height: 40px;
  margin-right: 38px;
  flex-shrink: 0;
}