.menu {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
  column-gap: 27.5px;
}

.menu__link {
  font-family: 'Alegreya Sans', helvetica, sans-serif;
  font-size: 18px;
}