.sidebar {
  width: 80px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate($container-width/2);
  height: 100%;
  padding-top: 243px;
  padding-left: 19px;

  &__menu {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  
  &__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $sidebar-border-size + 2px;
    height: $sidebar-border-size + 2px;

    &:hover {
      .sidebar__menu-link {
        background: $red;
        opacity: 1;
    
        &::after {
          border: 1px solid $red;
        }
      }
    }
  }
  
  &__menu-link {
    width: 6px;
    height: 6px;
    background: #000;
    opacity: .6;
    border-radius: 50%;
    position: relative;
    transition: .2s;
  
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: $sidebar-border-size;
      height: $sidebar-border-size;
      border: 1px solid transparent;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .2s;
    }

    &--active {
      background: $red;
      opacity: 1;
    
      &::after {
        border: 1px solid $red;
      }
    }

  }
}





