.button {
  padding: 21px 41px;
  font-size: 16px;
  font-weight: 700;
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  border-radius: 100px;
  transition: background-color .2s;

  @media screen and (min-width: 768px) {
    &:hover {
      background-color: $dark-red;
    }
  }

  &--theme-transparent {
    background-color: transparent;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    padding: 19px 6px;
    transition: color .2s;

    @include tablets {
      padding-left: rem(10px); 
    }

    @media screen and (min-width: 768px) {
      &:hover {
        color: $red;
        background-color: transparent;
      }
    }
  }
}