.button {
  padding: rem(21px) rem(41px);
  font-size: rem(16px);
  font-weight: 700;
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  border-radius: 100px;
  transition: background-color .2s;

  @include tablets {
    font-size: rem(19px);
    padding: rem(21px) rem(35px);
  }

  @include phones {
    font-size: rem(16px);
    padding: rem(21px) rem(41px);
  }

  @include phonesLandscape {
    font-size: rem(16px);
    padding: rem(21px) rem(41px);
  }

  @media screen and (min-width: 769px) {
    &:hover {
      background-color: $dark-red;
    }
  }

  &--theme-transparent {
    background-color: transparent;
    text-transform: none;
    font-weight: 400;
    padding: rem(19px) rem(6px);
    transition: color .2s;

    @include tablets {
      padding-left: rem(10px); 
    }

    @media screen and (min-width: 768px) {
      &:hover {
        color: $red;
        background-color: transparent;
      }
    }
  }
}