.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: rem(5px);

  @include tablets {
    row-gap: rem(8px);
  }

  @include phones {
    align-items: center;
    row-gap: rem(20px);
  }

  &__phone {
  font-size: rem(18px);
  display: flex;
  align-items: center;
  column-gap: rem(6px);
  transition: color .3s;

  @include tablets {
    font-size: rem(19.2px);
  }

  @media screen and (min-width: 768px) {
    &:hover {
      color: $red;
      .contacts__pic {
        color: $red;
      }
    }
  }
}
  
  &__icon {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;

    @include phones {
      width: 12px;
      height: 12px;
    }
  }

  &__pic {
    width: 100%;
    height: 100%;
    color: #000;
    transition: color 0.3s;
  }

  &__description {
    font-size: rem(18px);

    @include tablets {
      font-size: rem(21px);
    }
  }
}