.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/bg-dark.png) bottom center no-repeat;
  background-size: contain;
  background-color: $bg-black;

  &__headline {
    margin-bottom: rem(58px);

    @include tablets {
      margin-bottom: rem(30px);
    }

    @include phones {
      margin-bottom: rem(38px);
    }
  }

  &__form {
    @include tablets {
      width: 64%;
    }

    @include phones {
      width: 100%;
    }

    @include phonesLandscape {
      width: 90%;
    }
  }

  &__container {
    @include tablets {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}