.features {
  display: flex;
  align-items: center;
  column-gap: rem(11px);

  @include tablets {
    display: none;
  }
}

.feature {
  display: flex;
  align-items: center;
  column-gap: rem(16px);
  max-width: rem(166px);

  &__icon {
    width: rem(50px);
    height: rem(50px);
  }

  &__pic {
    color: #666;
  }
  
  &__text {
    font-size: rem(16px);
    line-height: 1;
  }
}

