.features {
  display: flex;
  align-items: center;
  column-gap: 11px;
}

.feature {
  display: flex;
  align-items: center;
  column-gap: 16px;
  max-width: 166px;

  &__icon {
    width: 41px;
    height: 41px;
  }
  
  &__text {
    font-size: 16px;
    line-height: 1;
  }
}

