.feedback-section {
  position: relative;

  &__headline {
    margin-bottom: rem(32px);

    @include tablets {
      margin-bottom: rem(38px);
    }
  }

  &:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 23%;
    content: "";
    width: rem(35px);
    height: rem(35px);
    border-radius: 50%;
    background: $gray;
    transform: translateY(50%);
  }
}

.feedback {
  &__element {
    margin-bottom: rem(15px);

    @include tablets {
      margin-bottom: rem(30px);
    }

    @include phones {
      margin-bottom: rem(50px);
    }
  }
}

.single-feedback {
  display: flex;
  align-items: flex-start;
  column-gap: rem(40px);
  min-height: rem(348px);
  background: $lightest-gray;
  padding: rem(42px);
  padding-right: rem(107px);
  overflow: hidden;
  position: relative;

  @include tablets {
    flex-direction: column;
    align-items: center;
    padding: rem(56px) rem(23px) rem(46px);
  }

  @include phones {
    padding: rem(64px) rem(23px) rem(46px);
  }
  
  &__avatar {
    width: rem(253px);
    height: rem(264px);
    flex-shrink: 0;

    @include tablets {
      width: rem(138px);
      height: rem(138px);
    } 

    @include tablets {
      width: rem(148px);
      height: rem(148px);
    } 
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: rem(36px);
    flex: 1;

    @include tablets {
      align-items: center;
    }

    @include phones {
      padding-top: rem(24px);
    }
  }

  &__title {
    margin-bottom: rem(27px);

    @include phones {
      font-size: rem(27px);
      margin-bottom: rem(14px);
    }
  }

  &__text {
    color: $dark-gray;
    font-size: rem(16px);
    line-height: rem(19px);
    margin-bottom: rem(31px);

    @include tablets {
      text-align: center;
    }

    @include phones {
      font-size: rem(18px);
      line-height: 1.24;
      margin-bottom: rem(14px);
    }

    p {
      margin-bottom: rem(10px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__author {
    font-size: rem(18px);
    font-weight: 700;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    background: $white;
    width: rem(83px);
    height: rem(83px);
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);

    @include phones {
      display: none;
    }
  }
}