.footer {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phones {
      flex-direction: column;
      justify-content: center;
      row-gap: rem(22px);
    }
  }

  &__contacts .contacts__phone {

    @include tablets {
      font-size: rem(18px);
    }

    @include tablets {
      font-size: rem(16px);
    }
  }

  &__col {
    display: flex;
    align-items: center;

    @include tablets {
      margin-left: rem(10px);
    }

    @include phones {
      margin-left: 0;
    }
  }

  &__col--align-right {
    justify-content: flex-end;
  }

  &__socials {
    transform: translateX(20px);

    @include tablets {
      transform: translateX(0);
      margin-right: rem(16px);
    }

    @include phones {
      margin-right: 0;
    }
  }
}