.form {
display: flex;
column-gap: rem(26px);

@include tablets {
  flex-direction: column;
  row-gap: rem(17px);
}

@include phonesLandscape {
  min-height: rem(170px);
  flex-direction: row;
}


&__column {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: rem(8px);

  @include tablets {
    row-gap: rem(10px);
  }
}

  &__row {
    display: flex;
    align-items: center;
    column-gap: rem(13px);

    @include tablets {
      column-gap: rem(18px);
    }

    @include phonesLandscape {
      flex-direction: column;
      align-items: flex-start;
      row-gap: rem(13px);
      flex-shrink: 0;
    }
  }

  &__row[data-name=building] {
    @include phonesLandscape {
      display: none;
    }
  }

  &__row[data-name=street] {
    @include phonesLandscape {
      display: none;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    row-gap: rem(5px);
    flex: 1;
    user-select: none;

    @include tablets {
      row-gap: rem(4px);
    }

    @include phonesLandscape {
      width: 100%;
    }
  }

  &__title {
    color: $white;
    font-size: rem(16px);
  }

  &__input {
    background: $white;
    border-radius: 4px;
    border: none;
    outline: 3px solid transparent;
    padding: rem(19px) rem(12px);
    font-family: 'open sans', helvetica, sans-serif;
    font-size: rem(14px);
    line-height: rem(20px);
    width: 100%;

    @include tablets {
      padding: rem(9px) rem(10px);
    }

    &:focus {
      outline-color: $red;
    }

    &--comment {
      min-height: rem(154px);
      margin-bottom: rem(27px);

      @include tablets {
        min-height: rem(82px);
        margin-bottom: rem(9.8px);
      }

      @include phones {
        margin-bottom: rem(12px);
      }

      @include phonesLandscape {
        margin-bottom: rem(5px);
      }
    }
  }

  &__call-back {
    margin-bottom: rem(54px);

    @include tablets {
      margin-top: rem(16px);
      margin-bottom: rem(26px);
    }

    @include phones {
      margin-top: rem(14px);
      margin-bottom: rem(28px);
    }

    @include phonesLandscape {
      margin-top: 0;
      margin-bottom: rem(5px);
    }
  }

  &__controls {
    width: 100%;
  }

  &__buttons {
    @include tablets {
      justify-content: center;
    }

    @include phonesLandscape {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

.input-error {
  outline-color: #ff1c8a;
}