.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__col {
    display: flex;
    align-items: center;

    &--align-right {
      justify-content: flex-end;
      flex-shrink: 0;
      margin-right: rem(25px);

      @include tablets {
        margin-right: 0;
      }
    }
  }
    
  &__logo {
    width: 40px;
    height: 40px;
    margin-right: rem(38px);
    flex-shrink: 0;
  }

  &__contacts {
    margin-left: 15px;
  }

  &__contacts.contacts{

    @include tablets {
      display: none;
    }
  }
}

