.hero {
  background: $lightest-gray;
  padding-bottom: rem(63px);
  position: relative;
  
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include tablets {
      background: none;
    }

    @media screen and (min-width: 768px) {
      background: url(../images/headline-pic.png) right rem(15px) center / 53% auto no-repeat;
    }
  }

  &:after {
    display: block;
    position: absolute;
    bottom: -4px;
    right: 26%;
    content: "";
    width: rem(47px);
    height: rem(11px);
    background: $light-gray;
    transform: rotate(-45deg);

    @include tablets {
      right: 14%;
    }
  }

  &__header {
    width: 100%;
    height: rem(90px);
    flex-shrink: 0;
  }
    
  &__text-section {
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: rem(64px);

    @include tablets {
      width: 100%;
      flex: 1;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 0;

      &:before {
        display: block;
        content: "";
        width: rem(345px);
        height: rem(345px);
        background: url(../images/headline-pic-small.png) center center no-repeat;
        background-size: contain;
      }
    }

    @include phones {
      &:before {
        width: 67vw;
        height: 67vw;
      }
    }
  }
  
  &__title {
    margin-bottom: rem(22px);
    line-height: 1.08;

    @include tablets {
      margin-top: rem(64px);
      margin-bottom: rem(15px);
      width: 88%;
    }

    @include phones {
      margin-top: rem(56px);
      margin-bottom: rem(16px);
      width: rem(336px);
    }
  }

  &__subtitle {
    width: 83%;
    font-family: 'Alegreya Sans', helvetica, sans-serif;
    font-size: rem(21px);
    font-weight: 400;
    line-height: 1.15;
    margin-bottom: rem(36px);

    @include tablets {
      width: 53%;
      margin-bottom: rem(23px);
      font-size: rem(19.2px);
    }
  
    @include phones {
      width: 68%;
      margin-bottom: rem(29px);
      font-size: rem(22px);
    }
  }
}





