.menu {
  display: flex;
  align-items: center;

  @include tablets {
    display: none;
  }
  
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: rem(27.5px);
    row-gap: rem(5px);
  }
  
  &__link {
    font-family: 'Alegreya Sans', helvetica, sans-serif;
    font-size: rem(18px);
    white-space: nowrap;
  }
}

