.menu {
  display: flex;
  align-items: center;

  @include tablets {
    display: none;
  }
  
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: rem(27.5px);
    row-gap: rem(5px);
  }
  
  &__link {
    font-family: 'Alegreya Sans', helvetica, sans-serif;
    font-size: rem(18px);
    white-space: nowrap;
    transition: color .3s;

    @media screen and (min-width: 768px) {
      &:hover {
        color: $red;
      }
    }
  }
}

.menu--inner {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #333537;
  color: $white;
  z-index: 1000;
  
  .menu__list {
    flex-direction: column;
  }
  
  .menu__link {
    font-family: 'Play', helvetica, sans-serif;
    font-size: rem(36px);
    font-weight: normal;
    line-height: 2;
  }
  

  @include tablets {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

