.products {
  background: #F8FAF9;
  position: relative;

  &:after {
    position: absolute;
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background: #000;
    right: 15%;
    bottom: 0;
    transform: translateY(7px) rotate(30deg);
    z-index: 10;
  }
}

.product {
  display: flex;
  justify-content: space-between;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-top: rem(30px);
    width: 0.5 * $container-width;
    margin-left: rem(32px);
    margin-right: rem(10px);

    @include tablets {
      margin: 0;
      margin-bottom: rem(42px);
      width: rem($product-img-width);
    }

    @include phones {
      margin-bottom: rem(20px);
    }
  }

  &__pic {
  object-fit: contain;
  }

  &__content {
    width: auto;
    max-width: rem(400px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablets {
      max-width: 86%;
      align-items: center;
    }

    @include phones {
      max-width: 90%;
    }
  }

  &__dropdown {
    margin-bottom: rem(25px);
  }

  &__header {
    font-size: rem(36px);
    text-transform: uppercase;
    line-height: 1.16;
    margin-bottom: rem(24px);
    
    @include tablets {
      font-size: rem(28px);
      margin-bottom: rem(14px);
      text-align: center;
    }

    @include phones {
      margin-bottom: rem(12px);
    }
  }
  
  &__description {
    width: auto;
    max-width: 86%;
    color: $dark-gray;
    line-height: rem(19px);
    margin-bottom: rem(24px);

    @include tablets {
      max-width: 100%;
      text-align: center;
    }
  }

  &__features {
    display: flex;
    align-items: center;
    column-gap: rem(86px);
    margin-bottom: rem(26px);
    
    @include tablets {
      margin-bottom: rem(24px);
      margin-right: rem(8px);
    }
    
    @include tablets {
      margin-bottom: rem(20px);
      margin-right: rem(8px);
    }
  }

  &__feature-description {
    color: $dark-gray;
  }

  &__feature-value {
    font-size: rem(18px);
    font-weight: bold;
  }

  &__block {
    display: flex;
    align-items: center;
    column-gap: rem(20px);
    
    @include tablets {
      column-gap: rem(38px);      
    }

    @include phones {
      column-gap: rem(23px);      
    }
  }

  &__price {
    font-size: rem(36px);
    
    @include tablets {
      font-size: rem(40px);
    }

    @include phones {
      font-size: rem(32px);
    }
  }
}