.radio-button {
  border-radius: 50%;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(13px);
    height: rem(13px);
    border-radius: 50%;
    background: $red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}