.reasons {
  position: relative;
  background: $white;

  &__container {

    @include tablets {
      width: 99%;
    }

    @include phones {
      width: 95%;
    }
  }

  &__headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(52px);

    @include tablets {
      margin-bottom: rem(42px);
    }

    @include phones {
      margin-bottom: rem(48px);
    }

    @include phonesLandscape {
      margin-bottom: rem(20px);
    }
  }

  &__title {
    margin-bottom: rem(16px);

    @include tablets {
      margin-bottom: rem(12px);
    }
  }

  &__description {
    max-width: 590px;
    width: auto;
    text-align: center;

    @include tablets {
      width: 76%;
    }

    @include phones {
      width: auto;
      max-width: 436px;
    }

    p {
      margin-bottom: rem(10px);
    }
  }
  
  &__list {
    display: flex;
    justify-content: center;
    row-gap: rem(31px);

    @include phones {
      flex-direction: column;
      align-items: flex-start;
      row-gap: rem(40px);
    }
  }

  &:after {
    display: block;
    position: absolute;
    bottom: -22px;
    left: 15%;
    content: "";
    border: rem(17px) solid transparent;
    border-bottom: 0;
    border-top: rem(37px) solid $red;
    transform: rotate(45deg);
    z-index: 10;

    @include tablets {
      left: 10%;
    }
  }

  &__item {
    padding: 0 3%;
    flex: 1;
    position: relative;

    @include tablets {
      padding: 0 0.4%;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0.5*$icon-container-width;
      right: 0;
      transform: translateX(50%);

      @media screen and (min-width: 769px) {
        content: url(../images/reason-separator.png);
      }
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      &:after {
      display: none;  
      }
    }
  }
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include phones {
    flex-direction: row;
    column-gap: rem(14px);
  }

  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $icon-container-width;
    height: $icon-container-width;
    border-radius: 50%;
    overflow: hidden;
    background: $lightest-gray;
    flex-shrink: 0;
    margin-bottom: rem(29px);

    @include phones {
      width: 26vw;
      height: 26vw;
      margin-bottom: 0;
    }

    @include phonesLandscape {
      width: 23vh;
      height: 23vh;
      margin-bottom: rem(20px);
    }
  }

  &__icon {
    width: rem(60px);
    height: rem(60px);

    @include tablets {
      width: rem(60px);
      height: rem(60px);
    }

    @include phones {
      width: 48%;
      height: 48%;
    }

    @include phonesLandscape {
      width: 48%;
      height: 48%;
    }
  }

  &__text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include phones {
      align-items: flex-start;
      text-align: left;
      row-gap: rem(10px);
      flex: 1;
    }
  }

  &__title {
    margin-bottom: rem(7px);

    @include tablets {
      font-size: rem(24px);
      margin-bottom: rem(20px);
    }

    @include phones {
      margin-bottom: 0;
    }

    @include phonesLandscape {
      margin-bottom: rem(10px);
    }
  }

  &__text {
    color: $dark-gray;
    font-size: rem(16px);
    width: 89%;
    line-height: 1.18;

    @include phones {
      font-size: rem(16px);
      width: 94%;
    }

    p {
      margin-bottom: rem(10px);
    }
  }

}

