.section {
  height: 100vh;
  min-height: 652px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-headline {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--theme-light {
    color: $white;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-description {
  font-size: 16px;
  color: $dark-gray;
}