.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-headline {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &--theme-light {
    color: $white;
  }
}

.section-title {
  font-size: rem(48px);
  font-weight: 700;
  text-transform: uppercase;

  @include tablets {
    width: 95%;
  }

  @include phones {
    width: 95%;
    font-size: rem(32px);
  }
}

.section-description {
  font-size: rem(16px);
  line-height: 1.19;
  color: $dark-gray;

  @include phones {
    width: 85%;
  }
}