.sidebar {
  position: fixed;
  top: 37%;
  right: 3vw;
  z-index: $z-sidebar;

  &__menu {
    display: flex;
    flex-direction: column;
    row-gap: rem(5px);
  }
  
  &__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__menu-link {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: 1px solid transparent;
    position: relative;
  
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background: $black;
      opacity: .6;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--active {
      border-color: $red;

      &::after {
        background: $red;
        opacity: 1;
      }
    }
  }

  @include tablets {
    display: none;
  }
}





