.slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 95%;

  &__display {
    overflow: hidden;
    width: 95%;
  }
  
  &__arrow {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 27px;
    z-index: 100;
    stroke: #000;

    @include tablets {
      top: rem($product-img-width/2);
    }

    &--direction-prev {
      left: -10px;
      transform: translateY(-50%);

      @include tablets {
        left: 50%;
        transform: translateX(rem(-($product-img-width/2 + 53px))) translateY(-50%);
      }
    }
    
    &--direction-next {
      right: -10px;
      transform: translateY(-50%) rotate(180deg);

      @include tablets {
        right: 50%;
        transform: translateX(rem($product-img-width/2 + 53px)) translateY(-50%) rotate(180deg);
      }
    }
  }

  &__arrow.unactive {
    cursor: auto;

    .slider__arrow-pic {
      stroke: $gray;
    }
  }
}

// .bx-wrapper {
//   box-shadow: none;
//   border: none;
//   background: transparent;
// }

