.slider {
  position: relative;
  
  &__arrow {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 27px;


    
    &--direction-prev {
      left: 0;
      transform: translateX(-100%) translateY(-50%);

      @include tablets {
        left: 50%;
        transform: translateX(-230px) translateY(-160px); //как можно в данном случае расположить стрелки по центру картинки, если они лежат в разных местах? или тогда проще расположить их в одном контейнере? с другой стороны их нельзя расположить в одном контейнере, потому что они перелистывают слайды, и лежат вне их
      }

      @include phones {
        transform: translateX(-45vw) translateY(-33vw);
      }
    }
    
    &--direction-next {
      transform: translateX(100%) translateY(-50%) rotate(180deg);
      right: 0;

      @include tablets {
        right: 50%;
        transform: translateX(230px) translateY(-160px) rotate(180deg);
      }

      @include phones {
        transform: translateX(45vw) translateY(-33vw) rotate(180deg);
      }
    }
  }
  
}

