.slider {
  position: relative;
  
  &__arrow {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 27px;

    @include tablets {
      top: rem($product-img-width/2);
    }

    
    &--direction-prev {
      left: -10px;
      transform: translateY(-50%);

      @include tablets {
        left: 50%;  //не стала применять жесткий left или right от краев контейнера по макету, чтобы при сжатии стрелки не залезли на картинку. Пошла от центра. Мой способ ок?
        transform: translateX(rem(-($product-img-width/2 + 53px))) translateY(-50%);
      }
    }
    
    &--direction-next {
      right: -10px;
      transform: translateY(-50%) rotate(180deg);

      @include tablets {
        right: 50%;
        transform: translateX(rem($product-img-width/2 + 53px)) translateY(-50%) rotate(180deg);
      }
    }
  }
  
}

