.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: rem(6px);

  @include phones {
    column-gap: rem(9px);
  }

  @include phonesLandscape {
    column-gap: rem(9px);
  }
}