.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: rem(6px);

  @include phones {
    column-gap: rem(9px);
  }

  &__item {
    width: rem(74px);
    height: rem(74px);
    cursor: pointer;

    @include phones {
      width: rem(64px);
      height: rem(64px);
    }
  }
}