.team__headline {
  margin-bottom: rem(53px);
  
  @include tablets {
    margin-bottom: rem(36px);
  }

  @include phones {
    margin-bottom: rem(40px);
  }
}

.team__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include tablets {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: rem(17px);
  }

  @include phones {
    row-gap: rem(7px);
  }
}

.team-member {
  max-width: rem(220px);
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
  margin-right: rem(10px);
  position: relative;
  
  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    max-width: rem(222px);
    margin-right: 0;
  }

  @include phones {
    max-width: rem(262px);
    margin-right: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: auto;
    width: 100%;
  }

  &__img {
    width: 100%;
    height: rem(290px);
    overflow: hidden;
    margin-bottom: rem(27px);

    @include tablets {
      display: none;
    }

    &-hidden {
      display: none;
      
      @include tablets {
        display: block;
        margin-bottom: rem(21px);       
      }

      @include phones {
        width: rem(138px);
        height: rem(180px);
      }
    }

  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    padding: 0;
  }

  &__name {
    font-size: rem(18px);
    font-weight: bold;
    
    @include tablets {
      font-family: 'Alegreya Sans', helvetica, sans-serif;;
      font-size: rem(21px);
    }
  }

  &__position {
    margin-bottom: 4px;

    @include tablets {
      font-weight: bold;
      font-size: rem(18px);
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    color: $dark-gray;
    line-height: rem(19px);
    margin-bottom: rem(16px);
  }
}

.team-member__description {
  top: 100%;
  height: 0;
  overflow: hidden;
  transition: height .5s;
  position: absolute;
  
  @include tablets {
    position: relative;
  }
}

.team-member__inner-content {
  margin-top: rem(11px);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include tablets {
    margin-top: rem(15px);
  }

  @include phones {
    margin-top: rem(11px);
  }
}