//colors
$black: #292929;
$bg-black: #181818;
$white: #fff;
$red: #E01F3D;
$dark-red: #CA1B36;
$gray: #868686;
$dark-gray: #666666;
$light-gray: #c4c4c4;
$lightest-gray: #F2F5F4;

//sizes
$container-width: 940px;
$base-fontsize: 18px;

$icon-container-width: 128px;

//z-indexes
$z-sidebar: 100;

//importing files
@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans:wght@400;700&family=Play:wght@400;700&display=swap);
@import "../normalize/normalize.css";

@import "layout";
@import "section";
@import "hero";
@import "sidebar";
@import "header";
@import "menu";
@import "contacts";
@import "button";
@import "features";
@import "reasons";
@import "feedback";
@import "switcher";
@import "delivery";
@import "form";
@import "controls";
@import "interactive-avatar";
@import "radio-button";
@import "checkbox";