//colors
$black: #292929;
$bg-black: #161616;
$white: #fff;
$red: #E01F3D;
$dark-red: #CA1B36;
$gray: #868686;
$dark-gray: #666666;
$light-gray: #c4c4c4;
$lightest-gray: #F2F5F4;

//rem units
$baseFontSize: 16px;

//sizes
$container-max-width: 940px;
$container-width: 95%;
$icon-container-width: 128px;
$product-img-width: 306px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//z-indexes
$z-sidebar: 100;

//importing files
@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans:wght@400;700&family=Play:wght@400;700&display=swap);
@import "media";
@import "../normalize/normalize.css";

@import "layout";
@import "section";
@import "hero";
@import "sidebar";
@import "header";
@import "logo";
@import "menu";
@import "contacts";
@import "button";
@import "features";
@import "reasons";
@import "feedback";
@import "switcher";
@import "delivery";
@import "form";
@import "controls";
@import "interactive-avatar";
@import "radio-button";
@import "checkbox";
@import "contacts-section";
@import "footer";
@import "socials";
@import "hamburger-menu";
@import "close";
@import "products";
@import "slider";
@import "dropdown";
@import "team";
@import "opener";
@import "overlay";
@import "colors";

