@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans:wght@400;700&family=Play:wght@400;700&display=swap);
@import "normalize/normalize.css";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: "play", helvetica, sans-serif;
  margin: 0;
  background: #fff;
  color: #292929;
  font-size: 18px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 960px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1;
}

h4 {
  font-size: 24px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  margin: 0 auto;
  width: 940px;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

input, textarea {
  outline: none;
}

input {
  width: 100%;
}

textarea {
  resize: none;
}

.section {
  height: 100vh;
  min-height: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-headline--theme-light {
  color: #fff;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-description {
  font-size: 16px;
  color: #666666;
}

.hero {
  background: #F2F5F4;
  padding-bottom: 63px;
  height: 100vh;
  min-height: 652px;
}
.hero__container {
  background: url(images/headline-pic.png) right 15px center/53% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.hero:after {
  display: block;
  position: absolute;
  bottom: 4px;
  right: 50%;
  content: "";
  width: 47px;
  height: 11px;
  background: #c4c4c4;
  -webkit-transform: translateX(434.28px) rotate(-45deg) translateX(-11px);
          transform: translateX(434.28px) rotate(-45deg) translateX(-11px);
}
.hero__header {
  height: 90px;
}
.hero__text-section {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 64px;
}
.hero__title {
  margin-bottom: 22px;
  line-height: 1.08;
}
.hero__subtitle {
  width: 83%;
  font-family: "Alegreya Sans", helvetica, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 36px;
}

.sidebar {
  position: fixed;
  top: 37%;
  right: 3%;
  z-index: 100;
}
.sidebar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.sidebar__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__menu-link {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
}
.sidebar__menu-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sidebar__menu-link--active {
  border-color: #E01F3D;
}
.sidebar__menu-link--active::after {
  background: #E01F3D;
  opacity: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__col--align-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 25px;
}
.header__logo {
  width: 40px;
  height: 40px;
  margin-right: 38px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 27.5px;
     -moz-column-gap: 27.5px;
          column-gap: 27.5px;
}
.menu__link {
  font-family: "Alegreya Sans", helvetica, sans-serif;
  font-size: 18px;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}
.contacts__icon {
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  padding: 19px 41px;
  font-size: 16px;
  font-weight: 700;
  background-color: #E01F3D;
  color: #fff;
  text-transform: uppercase;
  border-radius: 100px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: #CA1B36;
}
.button--theme-transparent {
  background-color: transparent;
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.button--theme-transparent:hover {
  color: #E01F3D;
  background-color: transparent;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  max-width: 166px;
}
.feature__icon {
  width: 41px;
  height: 41px;
}
.feature__text {
  font-size: 16px;
  line-height: 1;
}

.reasons {
  position: relative;
  padding-top: 63px;
  padding-bottom: 63px;
}
.reasons__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}
.reasons__title {
  margin-bottom: 18px;
}
.reasons__description {
  max-width: 63%;
  text-align: center;
}
.reasons__description p {
  margin-bottom: 10px;
}
.reasons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reasons:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  border: 17px solid transparent;
  border-top: 0;
  border-bottom: 37px solid #E01F3D;
  -webkit-transform: translateX(-494.44px) translateY(20px) rotate(-135deg);
          transform: translateX(-494.44px) translateY(20px) rotate(-135deg);
}
.reasons__item {
  padding: 0 3%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.reasons__item:after {
  content: url(images/reason-separator.png);
  display: block;
  position: absolute;
  top: 64px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.reasons__item:first-child {
  padding-left: 0;
}
.reasons__item:last-child {
  padding-right: 0;
}
.reasons__item:last-child:after {
  display: none;
}

.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reason__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
  background: #F2F5F4;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 27px;
}
.reason__icon {
  width: 68px;
  height: 68px;
}
.reason__text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reason__title {
  margin-bottom: 7px;
  text-align: center;
}
.reason__text {
  text-align: center;
  color: #666666;
  font-size: 16px;
  width: 89%;
  line-height: 19px;
}
.reason__text p {
  margin-bottom: 10px;
}

.feedback-section {
  padding-top: 63px;
  padding-bottom: 63px;
  position: relative;
}
.feedback-section__headline {
  margin-bottom: 32px;
}
.feedback-section:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #868686;
  -webkit-transform: translateX(-470px) translateY(20px);
          transform: translateX(-470px) translateY(20px);
}

.feedback__element {
  margin-bottom: 15px;
}

.single-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  min-height: 348px;
  background: #F2F5F4;
  padding: 42px;
  padding-right: 107px;
  overflow: hidden;
  position: relative;
}
.single-feedback__avatar {
  width: 253px;
  height: 264px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.single-feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 36px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.single-feedback__title {
  margin-bottom: 27px;
}
.single-feedback__text {
  color: #666666;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 31px;
}
.single-feedback__text p {
  margin-bottom: 10px;
}
.single-feedback__author {
  font-size: 18px;
  font-weight: 700;
}
.single-feedback:before {
  display: block;
  content: "";
  position: absolute;
  background: #fff;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}
.switcher__item {
  width: 74px;
  height: 74px;
  cursor: pointer;
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
  padding-bottom: 88px;
  background: #292929;
}
.delivery__headline {
  margin-bottom: 56px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
}
.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 11px;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 13px;
     -moz-column-gap: 13px;
          column-gap: 13px;
}
.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__title {
  color: #fff;
  font-size: 16px;
}
.form__input {
  background: #fff;
  border: 3px solid transparent;
  border-radius: 6px;
  padding: 16px 12px;
  font-family: "open sans", helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--comment {
  min-height: 154px;
  margin-bottom: 27px;
}
.form__call-back {
  margin-bottom: 45px;
}
.form__controls {
  width: 100%;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.controls__visible-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.controls__title {
  color: #fff;
  font-size: 16px;
}
.controls__button {
  position: relative;
  width: 24px;
  height: 24px;
  background: #fff;
  margin-right: 10px;
  background: #fff;
}
.controls__input {
  display: none;
}
.controls__input:checked + .controls__visible-elem .radio-button:after {
  opacity: 1;
}
.controls__input:checked + .controls__visible-elem .checkbox:after {
  opacity: 1;
}

.interactive-avatar {
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.interactive-avatar__link {
  width: 100%;
  height: 100%;
}
.interactive-avatar--active {
  outline: 4px solid #E01F3D;
  outline-offset: -4px;
}

.radio-button {
  border-radius: 50%;
}
.radio-button:after {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #E01F3D;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.checkbox {
  border-radius: 4px;
}
.checkbox:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 8px;
  background: url(images/checkmark.png) center center no-repeat;
  background-size: contain;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}