//colors
$black: #292929;
$white: #fff;
$red: #E01F3D;
$dark-red: #CA1B36;
$gray: #868686;
$dark-gray: #666666;
$light-gray: #c4c4c4;
$lightest-gray: #F2F5F4;

//sizes
$container-width: 940px;
$base-fontsize: 18px;

$icon-container-width: 128px;

//z-indexes
$z-sidebar: 100;

//importing files
@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans:wght@400;700&family=Play:wght@400;700&display=swap);
@import "normalize/normalize.css";

@import "css/layout";
@import "css/section";
@import "css/hero";
@import "css/sidebar";
@import "css/header";
@import "css/menu";
@import "css/contacts";
@import "css/button";
@import "css/features";
@import "css/reasons";
@import "css/feedback";
@import "css/switcher";
@import "css/delivery";
@import "css/form";
@import "css/controls";
@import "css/interactive-avatar";
@import "css/radio-button";
@import "css/checkbox";